@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main";
}

#landingPage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100vw;
  height: 100vh;
}

#landingPage #mapWrap {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6vw 88vw 6vw;
      grid-template-columns: 6vw 88vw 6vw;
  -ms-grid-rows: 7vh 86vh 7vh;
      grid-template-rows: 7vh 86vh 7vh;
}

#landingPage #mapWrap #navWrap {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

#landingPage #mapWrap #navWrap #pathWrap {
  display: none;
  grid-area: 1/1/-1/-1;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#landingPage #mapWrap #navWrap #scrollPrompt {
  display: none;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 7/6/8/7;
  place-self: center;
  font-family: fira-sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(144, 238, 144, 0.644);
  padding: 0.8rem 1.5rem;
  color: #1a1c1a;
  border: 4px solid green;
  -webkit-box-shadow: 0.5rem 0.5rem 1.5rem #1a1c1a;
          box-shadow: 0.5rem 0.5rem 1.5rem #1a1c1a;
}

#landingPage #mapWrap #navWrap .townLinks {
  display: none;
  text-decoration: none;
  font-family: jaf-herb, serif;
  letter-spacing: 0.4rem;
  font-size: 2vw;
  color: #1d301d;
  place-self: center;
  text-transform: uppercase;
  background-color: #1a1c1a10;
  border-radius: 1.5rem;
  padding: 0 0.9rem;
  white-space: nowrap;
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

#landingPage #mapWrap #navWrap #town-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

#landingPage #mapWrap #navWrap #town-2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

#landingPage #mapWrap #navWrap #town-3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5/2/6/3;
  justify-self: flex-end;
}

#landingPage #mapWrap #navWrap #town-4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 7/3/8/4;
  justify-self: flex-end;
}

#landingPage #mapWrap #navWrap #town-5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 4/4/5/5;
}

#landingPage #mapWrap #navWrap #town-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2/5/3/6;
}

#landingPage #mapWrap #navWrap #town-7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 5/6/6/7;
}

#landingPage #mapWrap #logoMain {
  display: none;
  width: 20rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
  -webkit-filter: drop-shadow(5px 5px 10px #1a1c1a);
          filter: drop-shadow(5px 5px 10px #1a1c1a);
  cursor: pointer;
}

#landingPage #mapWrap #logoMain:hover {
  -webkit-filter: saturate(250%) drop-shadow(5px 5px 10px #1a1c1a);
          filter: saturate(250%) drop-shadow(5px 5px 10px #1a1c1a);
  -webkit-transform: scale(101%);
          transform: scale(101%);
}

#skipBtn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
  z-index: 3;
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

#skipBtn:hover {
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

#skipBtn:active {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

#transInt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: radial-gradient(circle, #252f33 0%, #1a1c1a 69%);
}

#logo {
  display: block;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 40%;
  height: 60vh;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.shine {
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(-80deg, #000 30%, #0005, #000 70%) right/300% 100%;
          mask: linear-gradient(-80deg, #000 30%, #0005, #000 70%) right/300% 100%;
  -webkit-animation: shine 1.4s;
          animation: shine 1.4s;
}

#audioInt {
  display: none;
}

@-webkit-keyframes shine {
  100% {
    -webkit-mask-position: left;
            mask-position: left;
  }
}

@keyframes shine {
  100% {
    -webkit-mask-position: left;
            mask-position: left;
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
}

.main-article-template {
  position: relative;
  height: 100%;
}

.main-article-template .knight {
  position: fixed;
  width: 20rem;
  bottom: 8%;
  left: 45%;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes animRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes revAnimRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes revAnimRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.main-article-template .article-grid-box {
  width: 23%;
  height: 50%;
  position: fixed;
  top: 20px;
  left: -50%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  font-family: jaf-herb, serif;
  font-size: 30px;
  grid-gap: 5px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.6, -0.4, 0.36, 1.23);
  transition: all 500ms cubic-bezier(0.6, -0.4, 0.36, 1.23);
}

.main-article-template .article-grid-box.show-grid-box {
  opacity: 1;
  left: 20px;
}

.main-article-template .article-grid-box .article-grid-box-cell {
  background-color: rgba(214, 184, 102, 0.7);
  width: 100%;
  height: 100%;
  padding: 0 15px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 3px;
  -webkit-box-shadow: inset #333 0px 0px 15px 3px;
          box-shadow: inset #333 0px 0px 15px 3px;
  cursor: pointer;
  -webkit-transition: 400ms ease-in background-color;
  transition: 400ms ease-in background-color;
}

.main-article-template .article-grid-box .article-grid-box-cell img {
  width: 100%;
}

.main-article-template .article-grid-box .article-grid-box-cell.active-cell {
  background-color: #d6b866;
  -webkit-box-shadow: inset #fff 0px 0px 15px 3px;
          box-shadow: inset #fff 0px 0px 15px 3px;
}

.main-article-template .article-grid-box .article-grid-box-cell:hover {
  background-color: #d6b866;
  -webkit-box-shadow: inset #fff 0px 0px 15px 3px;
          box-shadow: inset #fff 0px 0px 15px 3px;
}

.main-article-template .logo-link {
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 1;
}

.main-article-template .logo-link p {
  position: absolute;
  color: #f2f2f2;
  font-family: jaf-herb, serif;
  font-size: 40px;
  white-space: nowrap;
  letter-spacing: 0.5rem;
  bottom: 100px;
  opacity: 0;
  -webkit-transition: bottom 500ms ease-in 550ms, opacity 500ms ease-in 550ms;
  transition: bottom 500ms ease-in 550ms, opacity 500ms ease-in 550ms;
}

.main-article-template .logo-link .icon-img {
  width: 20rem;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 200ms ease-in, -webkit-transform 750ms cubic-bezier(0.6, -0.4, 0.36, 1.23) 300ms;
  transition: -webkit-filter 200ms ease-in, -webkit-transform 750ms cubic-bezier(0.6, -0.4, 0.36, 1.23) 300ms;
  transition: filter 200ms ease-in, transform 750ms cubic-bezier(0.6, -0.4, 0.36, 1.23) 300ms;
  transition: filter 200ms ease-in, transform 750ms cubic-bezier(0.6, -0.4, 0.36, 1.23) 300ms, -webkit-filter 200ms ease-in, -webkit-transform 750ms cubic-bezier(0.6, -0.4, 0.36, 1.23) 300ms;
}

.main-article-template .logo-link:hover .icon-img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.main-article-template .logo-link:hover p {
  bottom: 15px;
  opacity: 1;
}

.main-article-template .section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main-article-template .section-wrapper .bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main-article-template .section-wrapper section {
  height: 100%;
  background-image: url(/assets/subpages/bg.jpg);
  background-size: contain;
  text-align: center;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-article-template .section-wrapper section.main {
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-article-template .section-wrapper section.main h2.title {
  color: #f2f2f2;
  font-family: jaf-herb, serif;
  font-size: 10rem;
  letter-spacing: 0.3em;
}

.main-article-template .section-wrapper section.main p.subtitle {
  color: #f2f2f2;
  font-size: 2.5rem;
}

.main-article-template .section-wrapper .article-box {
  width: 45%;
  -webkit-box-shadow: inset #755a44 0px 0px 100px 10px;
          box-shadow: inset #755a44 0px 0px 100px 10px;
  border-radius: 3px;
  background-color: #d6b866;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 50%;
  margin-top: 20px;
  padding: 10px 30px;
}

.main-article-template .section-wrapper .article-box.active {
  opacity: 1;
}

.main-article-template .section-wrapper .article-box.active-next {
  opacity: 0.3;
  margin-left: -800px;
}

.main-article-template .section-wrapper .article-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-article-template .section-wrapper .article-box .article-title {
  display: -ms-grid;
  display: grid;
  place-content: center;
  word-spacing: 0.5rem;
  letter-spacing: 0.3rem;
  width: 100%;
  font-family: jaf-herb, serif;
  font-size: 40px;
}

.main-article-template .section-wrapper .article-box .article-content {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  text-align: start;
}
/*# sourceMappingURL=main.css.map */