@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  grid-template-areas: "main";
  height: 100vh;
}

#landingPage {
  grid-area: main;
  width: 100vw;
  height: 100vh;
}
#landingPage #mapWrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 6vw 88vw 6vw;
  grid-template-rows: 7vh 86vh 7vh;
}
#landingPage #mapWrap #navWrap {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
#landingPage #mapWrap #navWrap #pathWrap {
  display: none;
  grid-area: 1/1/-1/-1;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#landingPage #mapWrap #navWrap #scrollPrompt {
  display: none;
  grid-area: 7/6/8/7;
  place-self: center;
  font-family: fira-sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(144, 238, 144, 0.644);
  padding: 0.8rem 1.5rem;
  color: #1a1c1a;
  border: 4px solid green;
  box-shadow: 0.5rem 0.5rem 1.5rem #1a1c1a;
}
#landingPage #mapWrap #navWrap .townLinks {
  display: none;
  text-decoration: none;
  font-family: jaf-herb, serif;
  letter-spacing: 0.4rem;
  font-size: 2vw;
  color: #1d301d;
  place-self: center;
  text-transform: uppercase;
  background-color: #1a1c1a10;
  border-radius: 1.5rem;
  padding: 0 0.9rem;
  white-space: nowrap;
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#landingPage #mapWrap #navWrap #town-1 {
  grid-area: 1/1/2/2;
}
#landingPage #mapWrap #navWrap #town-2 {
  grid-area: 3/2/4/3;
}
#landingPage #mapWrap #navWrap #town-3 {
  grid-area: 5/2/6/3;
  justify-self: flex-end;
}
#landingPage #mapWrap #navWrap #town-4 {
  grid-area: 7/3/8/4;
  justify-self: flex-end;
}
#landingPage #mapWrap #navWrap #town-5 {
  grid-area: 4/4/5/5;
}
#landingPage #mapWrap #navWrap #town-6 {
  grid-area: 2/5/3/6;
}
#landingPage #mapWrap #navWrap #town-7 {
  grid-area: 5/6/6/7;
}
#landingPage #mapWrap #logoMain {
  display: none;
  width: 20rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
  filter: drop-shadow(5px 5px 10px #1a1c1a);
  cursor: pointer;
}
#landingPage #mapWrap #logoMain:hover {
  filter: saturate(250%) drop-shadow(5px 5px 10px #1a1c1a);
  transform: scale(101%);
}

#skipBtn {
  grid-area: main;
  display: flex;
  font-size: 4rem;
  z-index: 3;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 2rem;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}
#skipBtn:hover {
  filter: grayscale(30%);
}
#skipBtn:active {
  filter: grayscale(80%);
}

#transInt {
  grid-area: main;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: radial-gradient(circle, #252f33 0%, #1a1c1a 69%);
}

#logo {
  display: block;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 40%;
  height: 60vh;
  filter: grayscale(100%);
}

.shine {
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(-80deg, #000 30%, #0005, #000 70%) right/300% 100%;
          mask: linear-gradient(-80deg, #000 30%, #0005, #000 70%) right/300% 100%;
  -webkit-animation: shine 1.4s;
          animation: shine 1.4s;
}

#audioInt {
  display: none;
}

@-webkit-keyframes shine {
  100% {
    -webkit-mask-position: left;
            mask-position: left;
  }
}

@keyframes shine {
  100% {
    -webkit-mask-position: left;
            mask-position: left;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.main-article-template {
  position: relative;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}

.main-article-template img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section {
  height: 100%;
  background-image: url(/assets/bg.jpg);
}

article {
  width: 100vw;
}

.article-slider {
  display: flex;
  height: 50vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 100%;
  z-index: 20;
  position: relative;
}
.article-slider .article-title {
  background-color: gray;
  width: 100px;
  height: 100%;
  font-family: jaf-herb, serif;
  font-size: 30px;
  z-index: 50;
}
.article-slider .article-content {
  background-color: beige;
  width: 500px;
  height: 100%;
}

.article-slider .article-content:last-of-type {
  margin-right: 800px;
}

.section-title {
  color: #f2f2f2;
  width: 100vw;
  height: 100%;
  text-align: center;
}
.section-title h2 {
  margin-top: -2em;
  width: 100%;
  display: inline-block;
  font-size: 5rem;
}
.section-title p.subtitle {
  font-size: 2.5rem;
}
.section-title a {
  color: #f2f2f2;
  font-size: 2.5rem;
}/*# sourceMappingURL=main.css.map */