@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html,
body {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Fira Sans', sans-serif;;
  

  &::-webkit-scrollbar {
    display: none;
  }
}

.main-article-template {
  position: relative;
  height: 100%;

  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

section {
  height: 100%;
  background-image: url(/assets/bg.jpg);
}

article {
  width: 100vw;
}

.article-slider {
  display: flex;
  height: 50vh;
  width: max-content;
  margin-left: 100%;
  z-index: 20;
  position: relative;

  .article-title {
    background-color: gray;
    width: 100px;
    height: 100%;
    font-family: jaf-herb, serif;
    font-size: 30px;
    // opacity: 1;
    // transition: opacity 400ms ease-out;
    // position: sticky;
    // left: 0;
    // top: 0;
    z-index: 50;
  }

  .article-content {
    background-color: beige;
    width: 500px;
    height: 100%;
    // opacity: 1;
    // transition: opacity 400ms ease-out;

    &:last-of-type {
      margin-right: 800px;
    }
  }
}

.section-title {
  color: #f2f2f2;
  width: 100vw;
  height: 100%;
  text-align: center;

  h2 {
    margin-top: -2em;
    width: 100%;
    display: inline-block;

    font-size: 5rem;
  }

  p.subtitle {
    font-size: 2.5rem;
  }

  a {
    color: #f2f2f2;
    font-size: 2.5rem;
  }
}
