@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
//font-family: 'Fira Sans', sans-serif;
//font-family: jaf-herb, serif; 
html,
body {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Fira Sans', sans-serif;
  

  &::-webkit-scrollbar {
    display: none;
  }
}

.main-article-template {
  position: relative;
  height: 100%;

  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

section {
  height: 100%;
  background-image: url(/assets/bg.jpg);
}

article {
  width: 100vw;
}

.article-slider {
  display: flex;
  height: 50vh;
  width: max-content;
  margin-left: 100%;
  z-index: 20;
  position: relative;
  padding-top: 2em;

  .article-grid-box {
    width: 600px;
    height: 100%;
    background-color: red;
    position: sticky;
    left: 20px;
    z-index: 50;
    display: grid;
    grid-template-areas: 
    "a1 a2 a3 a4 a5"
    "b1 b2 b3 b4 b5"
    "c1 c2 c3 c4 c5"
    "d1 d2 d3 d4 d5"
    "e1 e2 e3 e4 e5";
  }

  .article-title {
    background-color: gray;
    width: 100px;
    height: 100%;
    font-family: jaf-herb, serif;
    font-size: 30px;
    // opacity: 1;
    // transition: opacity 400ms ease-out;
    // position: sticky;
    // left: 0;
    // top: 0;
  }

  .article-content {
    background-color: beige;
    width: 500px;
    height: 100%;
    margin-right: 2em;
    // opacity: 1;
    // transition: opacity 400ms ease-out;

    &:last-of-type {
      margin-right: 800px;
    }
  }
}

.section-title {
  color: #f2f2f2;
  width: 100vw;
  height: 100%;
  text-align: center;

  h2 {
    margin-top: -2em;
    width: 100%;
    display: inline-block;
    font-family: jaf-herb, serif;
    font-size: 10rem;
    letter-spacing: 0.3em;
  }

  p.subtitle {
    font-size: 2.5rem;
  }

  a {
    color: #f2f2f2;
    font-size: 2.5rem;
  }
}
